* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header-container {
    text-align: center;
  }
  
  .heading {
    font-size: 3rem;
    color: rgb(132, 89, 89);
  }
  
  .input-form {
    margin: 10px;
    padding: 5px;
  }
  
  .input-form input[type="text"] {
    padding: 8px 20px;
    background-color: transparent;
    border: 1.5px solid #333;
    color: #333;
    background-color: white;
    width: 300px;
    font-size: 1.2rem;
    top: 3px;
    border-radius: 10px;
  }
  
  .input-form input[type="text"]:focus {
    outline: none;
  }
  
  .input-form input[type="submit"] {
    font-size: 1.1rem;
    margin-left: 20px;
    padding: 10px;
    border: 0;
    background-color: rgb(235, 235, 235);
    color: black;
    cursor: pointer;
  }
  
  .center {
    text-align: center;
  }